
#wrapper {
	background: rgb(122, 0, 7); width: 100%; min-width: 900px;
}
#header {
	
}
#header h1 {
	padding: 15px 0px 5px; text-align: center;
}
.page_note {
	text-align: center; color: rgb(191, 192, 194); font-size: 12px;
}

.nav1 {
	background: #ddd; text-align: right;
}
.nav_ul1 {
	margin: 0px auto; width: 900px; height: 30px; text-align: right;
}
.nav_ul1 li {
	margin: 0px 10px 0px 36px; display: inline-block;
}
.nav_ul1 li a {
	color: rgb(255, 255, 255); line-height: 30px; display: block;
}
.nav_ul1 li a:hover {
	color: rgb(0, 0, 0);
}
.nav_ul1 li a.on {
	color: rgb(0, 0, 0);
}

.nav {
	background: #518031; margin-top: 15px;
}

.nav_ul {
	margin: 0px auto; width: 900px; height: 40px; text-align: right;
}
.nav_ul li {
	margin: 0px 65px 0px 36px; display: inline-block;
}
.nav_ul li a {
	color: rgb(255, 255, 255); line-height: 40px; display: block;
}
.nav_ul li a:hover {
	color: rgb(255, 246, 0);
}
.nav_ul li a.on {
	color: rgb(255, 246, 0);
}
#container {
	background: rgb(255, 255, 255); margin: 0px auto; width: 100%;
}
.visual {
	background: url("../images/visual.jpg") no-repeat center 0px; height: 500px;
}
.content {
	margin: 60px auto; width: 900px; position: relative;
}
.content02 {
	background: rgb(233, 233, 233); padding: 30px 0px 0px; width: 100%; height: 710px; border-top-color: rgb(124, 124, 124); border-top-width: 3px; border-top-style: solid;
}
.content02 .cont01 {
	width: 100%; margin-top: 20px; display: inline-block;
}
.content02 .cont01 li {
	background: rgb(255, 255, 255); margin: 20px auto 0px; width: 60%; height: 70px; line-height: 25px; position: relative; border-top-right-radius: 5px; border-bottom-right-radius: 5px;
}
.content02 .cont01 li .numberBackground {
	background: url("../images/number_1.png") no-repeat; left: -20px; top: 7px; width: 40px; height: 40px; position: absolute;
}
.content02 .cont01 li .numberBackground p {
	left: 15px; top: 5px; color: rgb(255, 255, 255); font-size: 18px; font-weight: bold; position: absolute;
}
.content02 .cont01 li .listTitle {
	color: rgb(43, 43, 43); line-height: 35px; letter-spacing: -1px; font-size: 22px; font-weight: bold; margin-left: 30px;
}
.content02 .cont01 li .listWord {
	color: rgb(86, 86, 86); letter-spacing: -2px; font-size: 19px; margin-left: 30px;
}
.content03_sub {
	margin: 20px auto; width: 900px; height: 720px; position: relative;
}
.content03_sub .cont02 {
	margin: 15px auto 0px; width: 100%; height: 700px;
}
.content03_sub .cont02 li {
	margin: 30px; border-radius: 15px; border: 1px solid rgb(189, 189, 189); border-image: none; width: 380px; height: 290px; display: inline-block;
}
.content03_sub .cont02 li .foulImage1 {
	background: url("../images/img_4_1.png") no-repeat center; width: 380px; height: 240px; text-indent: -9999px; margin-top: 10px; cursor: pointer;
}
.content03_sub .cont02 li .foulImage2 {
	background: url("../images/img_4_2.png") no-repeat center; width: 380px; height: 240px; text-indent: -9999px; margin-top: 10px; cursor: pointer;
}
.content03_sub .cont02 li .foulImage3 {
	background: url("../images/img_4_3.png") no-repeat center; width: 380px; height: 240px; text-indent: -9999px; margin-top: 10px; cursor: pointer;
}
.content03_sub .cont02 li .foulImage4 {
	background: url("../images/img_4_4.png") no-repeat center; width: 380px; height: 240px; text-indent: -9999px; margin-top: 10px; cursor: pointer;
}
.content03_sub .cont02 li .foulTitle {
	width: 100%; height: 30px; text-align: center; color: rgb(43, 43, 43); font-size: 25px; font-weight: bold; display: inline-block;
}
.content03_sub .cont02 .layer {
	left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: fixed; z-index: 100; _position: absolute;
}
.content03_sub .cont02 .layer .bg {
	background: rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; opacity: 0.5;
}
.content03_sub .cont02 .layer .pop-layer {
	display: block;
}
.content03_sub .cont02 .pop-layer {
	border: 5px solid rgb(53, 113, 181); border-image: none; left: 50%; top: 50%; width: 1070px; height: auto; display: none; position: absolute; z-index: 10; background-color: rgb(255, 255, 255);
}
.content03_sub .cont02 .pop-layer .pop-container {
	padding: 20px 25px;
}
.content03_sub .cont02 .pop-layer p.ctxt {
	color: rgb(102, 102, 102); line-height: 25px;
}
.content03_sub .cont02 .pop-layer .btn-r {
	margin: 10px 0px 20px; width: 100%; text-align: right; padding-top: 10px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
a.cbtn {
	padding: 0px 14px; border: 1px solid rgb(48, 74, 138); border-image: none; height: 25px; color: rgb(255, 255, 255); line-height: 25px; font-size: 13px; display: inline-block; background-color: rgb(63, 90, 157);
}
a.cbtn:hover {
	border: 1px solid rgb(9, 25, 64); border-image: none; color: rgb(255, 255, 255); background-color: rgb(31, 50, 106);
}
.content03_sub .cont02 .popup1 {
	left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: fixed; z-index: 10000; _position: absolute;
}
.content03_sub .cont02 .popup1 .bg {
	background: rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; opacity: 0.5;
}
.content03_sub .cont02 .popup1 .layer_area {
	background: rgb(255, 255, 255); padding: 10px; border-radius: 5px; left: 50%; top: 50%; width: 600px; height: 500px; position: absolute; -moz-border-radius: 5px;
}
.content03 {
	background: rgb(72, 72, 72); padding: 0px 0px 20px; width: 100%;
}
.content03 .cont01 {
	background: url("../images/choice_bg.jpg") no-repeat center 0px; margin: 0px auto; padding: 56px 0px; width: 900px;
}
.content03 .title span {
	color: rgb(255, 125, 125);
}
.content03 .featute_note {
	color: rgb(255, 255, 255); font-weight: normal;
}
.content03 ol {
	margin: 30px 0px 0px 141px; color: rgb(255, 255, 255); line-height: 24px; font-size: 15px;
}
.content03 ol em {
	color: rgb(228, 116, 116);
}
.content03 li {
	margin: 10px auto; width: 90%;
}
.content03 .num {
	background: url("../images/num_bg.gif") no-repeat 0px 0px; width: 20px; height: 20px; text-align: center; color: rgb(56, 56, 56); line-height: 19px; font-weight: bold; margin-right: 5px; display: inline-block;
}
.title {
	margin: 0px; text-align: center; color: rgb(34, 30, 31); line-height: 40px; letter-spacing: -3px; clear: both; font-size: 38px;
}
.title strong {
	font-weight: 600;
}
.title span {
	color: rgb(216, 23, 23);
}
.txt_blue {
	color: rgb(95, 136, 175);
}
.txt_gray {
	color: rgb(238, 238, 238);
}
.txt_green {
	color: rgb(136, 200, 116);
}
.line01 {
	background: url("../images/line01.gif") repeat-x 0px bottom; padding-bottom: 5px;
}
.line02 {
	background: url("../images/line02.gif") repeat-x 0px bottom; padding-bottom: 5px;
}
.line03 {
	background: url("../images/line03.gif") repeat-x 0px top; padding-bottom: 5px;
}
.featute_note {
	margin: 15px 0px 0px; text-align: center; color: rgb(93, 93, 93); letter-spacing: -2px; font-size: 17px; font-weight: 700;
}
#footer_wrap {
	background: rgb(119, 119, 119);
}
.footer {
	margin: 0px auto; padding: 30px 0px; width: 900px;
}
button.btn {
	background: none; padding: 3px 7px 4px 5px; border: 1px solid rgb(255, 255, 255); border-image: none; color: rgb(255, 255, 255); line-height: 16px; letter-spacing: -0.5px; font-family: "¸¼Àº °íµñ", "Malgun Gothic", "³ª´®°íµñ", "Nanum Gothic", ng, "µ¸¿ò",Dotum,Helvetica,AppleGothic,Sans-serif; font-size: 16px; font-weight: 700;
}
button.btn:hover {
	background: rgb(135, 138, 132);
}
button.btn02 {
	background: url("../images/email.gif") no-repeat 0px 2px; padding: 0px 0px 4px 28px; border: currentColor; border-image: none; color: rgb(255, 255, 255); line-height: 16px; letter-spacing: -0.5px; font-family: "¸¼Àº °íµñ", "Malgun Gothic", "³ª´®°íµñ", "Nanum Gothic", ng, "µ¸¿ò",Dotum,Helvetica,AppleGothic,Sans-serif; font-size: 16px; font-weight: 700;
}
button.btn02:hover {
	background: url("../images/email_on.gif") no-repeat 0px 2px; color: rgb(57, 57, 57);
}
a.btn03 {
	background: none; padding: 4px 7px; border: 1px solid rgb(255, 255, 255); border-image: none; color: rgb(255, 255, 255); font-family: "¸¼Àº °íµñ", "Malgun Gothic", "³ª´®°íµñ", "Nanum Gothic", ng, "µ¸¿ò",Dotum,Helvetica,AppleGothic,Sans-serif; font-size: 15px; display: block;
}
a.btn03:hover {
	background: rgb(57, 57, 57);
}
.f_util {
	margin: 0px auto; width: 900px; text-align: center;
}
.f_util li {
	padding: 0px 40px; color: rgb(255, 255, 255); line-height: 16px; font-size: 16px; font-weight: 700; vertical-align: middle; display: inline-block;
}
.f_util strong {
	text-decoration: underline;
}
.copyright {
	text-align: center; color: rgb(255, 255, 255); letter-spacing: 0px; font-size: 13px; margin-top: 8px;
}
.pad01 {
	padding-left: 10px;
}
.mail_wrap {
	display: none;
}
.mail_wrap .mask {
	background: rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: fixed; z-index: 10; opacity: 0.5; -moz-opacity: 0.5;
}
.mail_form {
	margin: -70px 0px 0px -200px; left: 50%; top: 50%; width: 400px; position: absolute; z-index: 20;
}
.mail_tit {
	background: rgb(27, 99, 160); height: 56px; text-align: center; color: rgb(255, 255, 255); line-height: 56px; font-size: 24px;
}
.mail_cont {
	background: rgb(255, 255, 255); padding: 20px 0px;
}
.mail_cont dl {
	margin: 0px auto; padding: 5px 0px; width: 90%; clear: both; border-bottom-color: rgb(227, 228, 230); border-bottom-width: 1px; border-bottom-style: solid;
}
.mail_cont dl:first-child {
	padding-top: 0px;
}
.mail_cont dt {
	float: left;
}
.mail_cont dd {
	float: left;
}
.mail_cont dt {
	width: 76px; text-align: center; font-size: 15px; font-weight: bold;
}
.mail_cont dd {
	
}
.chk {
	background: url("../images/icon_chk.png") no-repeat 0px 0px rgb(231, 231, 231); border-radius: 3px; width: 25px; height: 25px; margin-left: 5px; vertical-align: middle; display: inline-block; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.on.chk {
	background: url("../images/icon_chk_on.png") no-repeat 0px 0px rgb(255, 255, 255);
}
.mail_cont select {
	padding: 3px; border: 1px solid rgb(140, 140, 140); border-image: none;
}
.mail_cont .text {
	padding: 2px 5px; border: 1px solid rgb(140, 140, 140); border-image: none;
}
.w01 {
	width: 65px !important;
}
.w02 {
	width: 64px !important;
}
.w03 {
	width: 40px !important;
}
.w04 {
	width: 124px !important;
}
.mail_cont textarea {
	padding: 5px; border: 1px solid rgb(140, 140, 140); border-image: none; width: 225px !important; height: 100px;
}
.cont_dt {
	padding-top: 40px;
}
.mail_btn {
	text-align: center; margin-top: 20px;
}
.mail_btn span {
	padding: 0px 2px;
}
.mail_btn a {
	border: 0px currentColor; border-image: none; width: 130px; height: 40px; text-align: center; color: rgb(43, 99, 141); letter-spacing: -1px; padding-top: 0px; font-size: 17px; font-weight: 700; display: inline-block;
}
.mail_btn button {
	border: 0px currentColor; border-image: none; width: 130px; height: 40px; text-align: center; color: rgb(43, 99, 141); letter-spacing: -1px; padding-top: 0px; font-size: 17px; font-weight: 700; display: inline-block;
}
.mail_btn a:hover {
	color: rgb(35, 116, 205);
}
.mail_btn button:hover {
	color: rgb(35, 116, 205);
}
.mail_btn button.send_btn {
	background: url("../images/prdt_btnbg.gif") no-repeat 0px 0px / 100% auto; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
.mail_btn button.close_btn {
	background: url("../images/prdt_btnbg.gif") no-repeat 0px 0px / 100% auto; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
.mail_form .btn_close {
	top: 17px; right: 15px; display: block; position: absolute; z-index: 20;
}
.mail_form .btn_close a {
	background: url("../images/btn_close02.png") no-repeat 0px 0px; width: 25px !important; height: 25px; display: inline-block;
}
.mail_form .btn_close a:hover {
	background: url("../images/btn_close02_on.png") no-repeat 0px 0px;
}
.btn_blog {
	left: 50%; top: 492px; font-size: 0px; margin-left: -440px; position: absolute;
}
.btn_blog button {
	background: url("../images/btn_blog.png") no-repeat 0px 0px; border: currentColor; border-image: none; width: 268px; height: 67px;
}
.btn_blog button:hover {
	background: url("../images/btn_blog_on.png") no-repeat 0px 0px;
}
.video_wrap {
	
}
.btn_video {
	left: 50%; top: 492px; margin-left: -154px; position: absolute;
}
.btn_video button {
	background: url("../images/btn_video.png") no-repeat 0px 0px; border: currentColor; border-image: none; width: 209px; height: 67px;
}
.btn_video button:hover {
	background: url("../images/btn_video_on.png") no-repeat 0px 0px;
}
.video {
	left: 0px; top: 0px; display: none; position: absolute; z-index: 20;
}
.v_iframe {
	background: rgb(0, 0, 0); left: 50%; top: 200px; margin-left: -250px; position: absolute; z-index: 100; box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35);
}
.v_iframe h3 {
	background: rgb(229, 2, 18); padding: 16px 0px 15px 18px; color: rgb(255, 255, 255); font-size: 16px; font-weight: bold;
}
.v_close {
	top: 10px; right: 10px; position: absolute;
}
.v_close button {
	background: url("../images/btn_close_v.png") no-repeat 0px 0px; border: currentColor; border-image: none; width: 29px; height: 28px;
}
.v_close button:hover {
	background: url("../images/btn_close_v_on.png") no-repeat 0px 0px;
}
.video .mask {
	background: rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; display: block; position: fixed; z-index: 10; opacity: 0.5; -moz-opacity: 0.5;
}
@media all and (max-width:1024px)
{
#wrapper {
	min-width: 750px;
}
.content {
	min-width: 750px;
}
.content03 {
	min-width: 750px;
}
.footer {
	min-width: 750px;
}
.nav_ul {
	width: 750px !important;
}
.visual {
	width: 750px !important;
}
.content {
	width: 750px !important;
}
.sevice03 {
	width: 750px !important;
}
.part_note {
	width: 750px !important;
}
.footer {
	width: 750px !important;
}
.f_util {
	width: 750px !important;
}
.visual {
	background: url("../images/visual.jpg") no-repeat center 0px / 245% auto; width: 100% !important; height: 24em; -webkit-background-size: 245% auto; -moz-background-size: 245% auto; -o-background-size: 245% auto;
}
.v_btn {
	bottom: 7%;
}
.part_note {
	padding-right: 0px !important; padding-left: 0px !important;
}
.part_note span {
	padding: 0px 20px !important; display: inline-block;
}
.content02 .cont01 li {
	background: rgb(255, 255, 255); margin: 20px auto 0px; width: 70%; height: 55px; line-height: 25px; position: relative; border-top-right-radius: 5px; border-bottom-right-radius: 5px;
}
.content03_sub {
	width: 650px; height: 520px;
}
.content03_sub .cont02 {
	width: 100%; display: inline-block;
}
.content03_sub .cont02 li {
	margin: 20px 10px 10px; border-radius: 10px; border: 1px solid rgb(189, 189, 189); border-image: none; width: 290px; height: 200px;
}
.content03_sub .cont02 li .foulImage1 {
	margin: 10px 0px 0px 15px; width: 260px; height: 150px; background-size: 260px 150px;
}
.content03_sub .cont02 li .foulImage2 {
	margin: 10px 0px 0px 15px; width: 260px; height: 150px; background-size: 260px 150px;
}
.content03_sub .cont02 li .foulImage3 {
	margin: 10px 0px 0px 15px; width: 260px; height: 150px; background-size: 260px 150px;
}
.content03_sub .cont02 li .foulImage4 {
	margin: 10px 0px 0px 15px; width: 260px; height: 150px; background-size: 260px 150px;
}
.content03_sub .cont02 li .foulTitle {
	line-height: 30px; font-size: 20px;
}
.content03 .cont01 {
	width: 100%;
}
.content03 ol {
	margin: 30px 0px 0px 5%;
}
.sevice01 li {
	width: 23.6% !important; height: 370px;
}
.sevice01 .s01 {
	background-position: 50% 0px;
}
.sevice01 .s02 {
	background-position: 50% -254px;
}
.sevice01 .s03 {
	background-position: 50% -508px;
}
.sevice01 p .a_left {
	padding-left: 15px; font-size: 13px;
}
.map.visual {
	position: relative;
}
.map_bg {
	width: 100%;
}
.map_img {
	width: 100%;
}
.cs_wrap {
	right: 23px; bottom: 25px; position: absolute;
}
.form_req {
	width: 750px;
}
.sub.visual {
	background: url("../images/visual01_sub.jpg") no-repeat center 0px; width: 100%;
}
.player {
	left: 50% !important; margin-left: -211px;
}
.player iframe {
	
}
.request_img {
	background: url("../images/request_img01.jpg") no-repeat 0px 0px / 100% auto; margin: 35px 0px 35px 5px; width: 98%; height: 283px; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
.addr_tit {
	width: 97%;
}
.btn_blog {
	top: 430px; margin-left: -370px;
}
.btn_blog button {
	background: url("../images/btn_blog.png") no-repeat 0px 0px; border: currentColor; border-image: none; width: 268px; height: 67px;
}
.btn_blog button:hover {
	background: url("../images/btn_blog_on.png") no-repeat 0px 0px;
}
.btn_video {
	top: 430px; margin-left: -90px;
}
.btn_video button {
	width: 209px; height: 67px; background-size: 100% auto; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
.btn_video button:hover {
	width: 209px; height: 67px; background-size: 100% auto; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
}
@media screen and (max-width:765px)
{
#wrapper {
	min-width: 560px;
}
.content {
	min-width: 560px;
}
.content03 {
	min-width: 560px;
}
.footer {
	min-width: 560px;
}
.nav_ul {
	width: 100% !important;
}
.visual {
	width: 100% !important;
}
.content {
	width: 100% !important;
}
.sevice03 {
	width: 100% !important;
}
.part_note {
	width: 100% !important;
}
.footer {
	width: 100% !important;
}
.f_util {
	width: 100% !important;
}
#container {
	margin-top: 0px;
}
.visual {
	background: url("../images/visual_02.jpg") no-repeat center 0px / 100% auto; height: 22em; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
.v_btn {
	right: 3%; bottom: 7%;
}
.nav_ul {
	text-align: center;
}
.nav_ul li {
	margin: 0px 10% !important;
}
.title {
	font-size: 28px;
}
.content02 {
	height: 650px; letter-spacing: 0px;
}
.content02 .cont01 {
	
}
.content02 .cont01 li {
	width: 80%; height: 70px; margin-top: 10px;
}
.content02 .cont01 li .numberBackground {
	top: 8px;
}
.content02 .cont01 li .numberBackground p {
	top: 8px;
}
.content02 .cont01 li .listTitle {
	color: rgb(43, 43, 43); letter-spacing: -1px; padding-top: 3px; font-size: 18px; font-weight: bold; margin-left: 30px;
}
.content02 .cont01 li .listWord {
	color: rgb(86, 86, 86); letter-spacing: -2px; font-size: 15px; margin-left: 30px;
}
.content03 .cont01 {
	width: 100%;
}
.content03 ol {
	margin: 30px 0px 0px 1%;
}
.sevice01 li {
	margin: 0px 0px 0px 1.3%; width: 26% !important; height: 370px;
}
.sevice01 .s01 {
	padding-top: 90%; font-size: 17px; margin-bottom: 12px; background-image: url("../images/service01.png"); background-size: 65% auto; -webkit-background-size: 65% auto; -moz-background-size: 65% auto; -o-background-size: 65% auto;
}
.sevice01 .s02 {
	padding-top: 90%; font-size: 17px; margin-bottom: 12px; background-image: url("../images/service01.png"); background-size: 65% auto; -webkit-background-size: 65% auto; -moz-background-size: 65% auto; -o-background-size: 65% auto;
}
.sevice01 .s03 {
	padding-top: 90%; font-size: 17px; margin-bottom: 12px; background-image: url("../images/service01.png"); background-size: 65% auto; -webkit-background-size: 65% auto; -moz-background-size: 65% auto; -o-background-size: 65% auto;
}
.sevice01 .s01 {
	background-position: 50% 0px;
}
.sevice01 .s02 {
	background-position: 50% 54%;
}
.sevice01 .s03 {
	background-position: 50% 108%;
}
.sevice01 p .a_left {
	padding-left: 10px; font-size: 13px;
}
.sevice01 p {
	line-height: 22px; font-size: 13px;
}
.visual.map {
	margin-top: 0px;
}
.cs_wrap {
	width: 45%; right: 23px; bottom: 25px; position: absolute;
}
.cs_wrap img {
	width: 100% !important;
}
.text {
	width: 130px;
}
.size02 {
	width: 418px !important;
}
.form_req {
	width: 100% !important;
}
.address .form_dl dt.marg01 {
	width: 124px !important; margin-left: 0px !important;
}
.address .form_dl dt {
	clear: both;
}
.request_img {
	background: url("../images/request_img01.jpg") no-repeat 0px / 100% auto; margin: 20px 0px 10px 10px; width: 98%; height: 270px; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
.btn_blog {
	left: 50%; top: 492px; font-size: 0px; margin-left: -440px; position: absolute;
}
.btn_blog button {
	background: url("../images/btn_blog.png") no-repeat 0px 0px; border: currentColor; border-image: none; width: 268px; height: 67px;
}
.btn_blog button:hover {
	background: url("../images/btn_blog_on.png") no-repeat 0px 0px;
}
.btn_blog {
	top: 210px; margin-left: -60px;
}
.btn_blog button {
	background: url("../images/btn_blog_320.png") no-repeat 0px 0px; border: currentColor; border-image: none; width: 69px; height: 70px;
}
.btn_blog button:hover {
	background: url("../images/btn_blog_320_on.png") no-repeat 0px 0px;
}
.btn_video {
	top: 390px; margin-left: 200px;
}
.btn_video button {
	background: url("../images/btn_video_320.png") no-repeat 0px 0px / 100% auto; width: 69px; height: 70px; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
.btn_video button:hover {
	background: url("../images/btn_video_320_on.png") no-repeat 0px 0px / 100% auto; width: 69px; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
.v_iframe {
	left: 50%; top: 200px; margin-left: -170px;
}
.v_iframe iframe {
	width: 460px !important; height: 260px !important;
}
}
@media screen and (max-width:610px)
{
#wrapper {
	min-width: 400px;
}
.content {
	min-width: 400px;
}
.content03 {
	min-width: 400px;
}
.footer {
	min-width: 400px;
}
.nav_ul {
	width: 100% !important;
}
.visual {
	width: 100% !important;
}
.content {
	width: 100% !important;
}
.sevice03 {
	width: 100% !important;
}
.part_note {
	width: 100% !important;
}
.footer {
	width: 100% !important;
}
.f_util {
	width: 100% !important;
}
.nav_ul li {
	margin: 0px 7% !important;
}
.visual {
	height: 15.5em;
}
.v_btn {
	right: 3%; bottom: 7%;
}
.content03_sub h3 .title {
	width: 100%; text-align: center; font-size: 35px;
}
.title span {
	font-size: 28px;
}
.content02 {
	height: 710px;
}
.content02 .cont01 {
	margin-top: 20px;
}
.content02 .cont01 li {
	background: rgb(255, 255, 255); margin: 20px auto 0px; width: 80%; height: 70px; line-height: 25px; position: relative; border-top-right-radius: 5px; border-bottom-right-radius: 5px;
}
.content02 .cont01 li .numberBackground {
	background: url("../images/number_1.png") no-repeat; left: -20px; top: 7px; width: 40px; height: 40px; position: absolute;
}
.content02 .cont01 li .numberBackground p {
	left: 15px; top: 5px; color: rgb(255, 255, 255); font-size: 18px; font-weight: bold; position: absolute;
}
.content02 .cont01 li .listTitle {
	color: rgb(43, 43, 43); letter-spacing: -1px; font-size: 18px; font-weight: bold; margin-left: 30px;
}
.content02 .cont01 li .listWord {
	color: rgb(86, 86, 86); letter-spacing: -2px; padding-right: 10px; font-size: 14px; margin-left: 30px;
}
.content03 ol {
	margin: 10px; line-height: 20px; font-size: 13px;
}
.content03_sub {
	width: 650px; height: 520px;
}
.content03_sub .cont02 {
	width: 100%; display: inline-block;
}
.content03_sub .cont02 li {
	margin: 20px 10px 10px; border-radius: 10px; border: 1px solid rgb(189, 189, 189); border-image: none; width: 270px; height: 200px;
}
.content03_sub .cont02 li .foulImage1 {
	margin: 10px 0px 0px 15px; width: 235px; height: 150px; background-size: 260px 150px;
}
.content03_sub .cont02 li .foulImage2 {
	margin: 10px 0px 0px 15px; width: 235px; height: 150px; background-size: 260px 150px;
}
.content03_sub .cont02 li .foulImage3 {
	margin: 10px 0px 0px 15px; width: 235px; height: 150px; background-size: 260px 150px;
}
.content03_sub .cont02 li .foulImage4 {
	margin: 10px 0px 0px 15px; width: 235px; height: 150px; background-size: 260px 150px;
}
.content03_sub .cont02 li .foulTitle {
	line-height: 30px; font-size: 20px;
}
.sevice01 {
	margin-top: 30px;
}
.sevice01 li {
	margin: 10px 2% 0.5% !important; padding: 0px 3%; width: 90% !important; height: 190px; position: relative;
}
.sevice01 .s01 {
	text-align: left; padding-top: 3%; padding-bottom: 30%; padding-left: 29%; font-size: 18px; background-image: url("../images/service01.png"); background-size: 20% auto; -webkit-background-size: 20% auto; -moz-background-size: 20% auto; -o-background-size: 20% auto;
}
.sevice01 .s02 {
	text-align: left; padding-top: 3%; padding-bottom: 30%; padding-left: 29%; font-size: 18px; background-image: url("../images/service01.png"); background-size: 20% auto; -webkit-background-size: 20% auto; -moz-background-size: 20% auto; -o-background-size: 20% auto;
}
.sevice01 .s03 {
	text-align: left; padding-top: 3%; padding-bottom: 30%; padding-left: 29%; font-size: 18px; background-image: url("../images/service01.png"); background-size: 20% auto; -webkit-background-size: 20% auto; -moz-background-size: 20% auto; -o-background-size: 20% auto;
}
.sevice01 .s01 {
	background-position: 0% -6%;
}
.sevice01 .s02 {
	background-position: 0px 54%;
}
.sevice01 .s03 {
	background-position: 0px 115%;
}
.sevice01 p {
	left: 30%; top: 24%; width: 65%; text-align: left; line-height: 22px; font-size: 13px; position: absolute;
}
.sevice01 .line02 {
	left: 30%; top: 25%; font-size: 21px; position: absolute;
}
.br {
	display: inline;
}
.br2 {
	display: block;
}
.f_util li {
	padding: 5px 40px;
}
button.pagebtn04 {
	background: url("../images/btn_request.png") no-repeat 0px 0px / 100% auto; padding: 7px 0px 20px; width: 200px; font-size: 20px; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
button.pagebtn04:hover {
	background: url("../images/btn_request_on.png") no-repeat 0px 0px / 100% auto; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
.cs_wrap {
	left: 0px; width: 50%; right: 0px; bottom: 0px;
}
.marg01 {
	clear: both; margin-left: 0px;
}
.form_dl .br {
	display: block;
}
.map_img02 {
	width: 100%; display: block;
}
.map_img02 a {
	display: block;
}
.map_img02 img {
	width: 100%;
}
.map_img01 {
	display: none;
}
#preview {
	width: 98% !important;
}
#mapContainer {
	width: 99% !important;
}
.text {
	width: 200px;
}
.size02 {
	width: 215px !important;
}
.sub.visual {
	background: none; width: 100%; height: 30% !important;
}
.player {
	margin: 0px !important; left: 0px !important; top: 0px !important; width: 100% !important; height: 100% !important; position: relative !important;
}
.player iframe {
	width: 100% !important; height: 60% !important;
}
.s_input {
	display: inline-block;
}
.request_img {
	background: url("../images/request_img01_02.jpg") no-repeat 0px / 100% auto; width: 70%; height: auto !important; padding-top: 70%; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
.btn_video {
	top: 290px; margin-left: 110px;
}
.btn_video button {
	background: url("../images/btn_video_320.png") no-repeat 0px 0px / 100% auto; width: 69px; height: 70px; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
.btn_video button:hover {
	background: url("../images/btn_video_320_on.png") no-repeat 0px 0px / 100% auto; width: 69px; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
.v_iframe {
	left: 50%; top: 200px; margin-left: -159px;
}
.v_iframe iframe {
	width: 399px !important; height: 260px !important;
}
}
@media screen and (max-width:420px)
{
.visual {
	background: url("../images/visual_03.jpg") no-repeat 0px 0px / 100% auto; height: 35.5em; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
.v_btn {
	right: 16%; bottom: 11%;
}
.title {
	font-size: 22px;
}
.title span {
	font-size: 22px;
}
.content02 {
	height: 780px; letter-spacing: 0px;
}
.content02 .cont01 {
	
}
.content02 .cont01 li {
	width: 88%; height: 90px; margin-top: 10px;
}
.content02 .cont01 li .numberBackground {
	top: 18px;
}
.content02 .cont01 li .numberBackground p {
	top: 6px;
}
.content02 .cont01 li .listTitle {
	color: rgb(43, 43, 43); letter-spacing: -1px; font-size: 16px; font-weight: bold; margin-left: 30px;
}
.content02 .cont01 li .listWord {
	color: rgb(86, 86, 86); letter-spacing: -2px; font-size: 14px; margin-left: 30px;
}
.content03_sub {
	width: 93%; height: 880px;
}
.content03_sub .cont02 {
	width: 100%; display: inline-block;
}
.content03_sub .cont02 li {
	margin: 10px 0px 0px; padding: 0px; border-radius: 10px; border: 1px solid rgb(189, 189, 189); border-image: none; width: 100%; height: 200px;
}
.content03_sub .cont02 li .foulImage1 {
	width: 340px; height: 150px;
}
.content03_sub .cont02 li .foulImage2 {
	width: 340px; height: 150px;
}
.content03_sub .cont02 li .foulImage3 {
	width: 340px; height: 150px;
}
.content03_sub .cont02 li .foulImage4 {
	width: 340px; height: 150px;
}
.content03_sub .cont02 li .foulTitle {
	line-height: 30px; font-size: 20px;
}
.sevice01 {
	margin-top: 10px;
}
.sevice01 li {
	height: 170px;
}
.sevice01 .s01 {
	text-align: left; padding-top: 3%; padding-bottom: 30%; padding-left: 29%; font-size: 18px; background-image: url("../images/service01.png"); background-size: 20% auto; -webkit-background-size: 20% auto; -moz-background-size: 20% auto; -o-background-size: 20% auto;
}
.sevice01 .s02 {
	text-align: left; padding-top: 3%; padding-bottom: 30%; padding-left: 29%; font-size: 18px; background-image: url("../images/service01.png"); background-size: 20% auto; -webkit-background-size: 20% auto; -moz-background-size: 20% auto; -o-background-size: 20% auto;
}
.sevice01 .s03 {
	text-align: left; padding-top: 3%; padding-bottom: 30%; padding-left: 29%; font-size: 18px; background-image: url("../images/service01.png"); background-size: 20% auto; -webkit-background-size: 20% auto; -moz-background-size: 20% auto; -o-background-size: 20% auto;
}
.sevice01 .s01 {
	background-position: 0% -6%;
}
.sevice01 .s02 {
	background-position: 0px 54%;
}
.sevice01 .s03 {
	background-position: 0px 115%;
}
.sevice01 p {
	left: 30%; top: 20%; width: 65%; text-align: left; line-height: 18px; font-size: 12px;
}
.sevice01 .line02 {
	left: 30%; top: 25%; font-size: 21px; position: absolute;
}
.featute_note {
	margin: 10px 0px 0px; letter-spacing: -1px; font-size: 14px;
}
.cs_wrap {
	width: 65%;
}
.td3 {
	display: none;
}
.tbl_gray .con_tit img {
	width: 40px;
}
.qa_img {
	width: 15px;
}
button.pagebtn02 {
	background: url("../images/request_btn02.png") no-repeat 0px 0px / 100% auto; width: 107px; font-size: 20px; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
button.pagebtn02:hover {
	background: url("../images/request_btn02_on.png") no-repeat 0px 0px / 100% auto; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
button.pagebtn03 {
	background: url("../images/qna_btn.png") no-repeat 0px 0px / 100% auto; width: 187px; font-size: 20px; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
button.pagebtn03:hover {
	background: url("../images/qna_btn_on.png") no-repeat 0px 0px / 100% auto; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
.text {
	width: 210px;
}
.size02 {
	width: 210px !important;
}
.c_write50 {
	min-width: 80px;
}
.request_img {
	width: 98%; padding-top: 90%;
}
.mail_form {
	margin: -80px 0px 0px -147px; width: 290px;
}
.mail_cont {
	background: rgb(255, 255, 255); padding: 20px 0px;
}
.mail_cont dt {
	float: left;
}
.mail_cont dd {
	float: left;
}
.mail_cont dt {
	width: 60px; text-align: center; font-size: 13px; font-weight: bold;
}
.mail_cont dd {
	
}
.chk {
	
}
.on.chk {
	background: url("../images/icon_chk_on.png") no-repeat 0px 0px / 100% auto rgb(255, 255, 255); width: 20px; height: 20px; display: inline-block; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
.w01 {
	width: 40px !important;
}
.w02 {
	width: 35px !important;
}
.w03 {
	width: 30px !important;
}
.w04 {
	width: 80px !important;
}
.mail_cont textarea {
	padding: 5px; width: 157px !important; height: 70px;
}
.cont_dt {
	padding-top: 30px;
}
.mail_btn {
	text-align: center; margin-top: 20px;
}
.mail_btn button {
	width: 120px; height: 38px; text-align: center; color: rgb(43, 99, 141); letter-spacing: -1px; padding-top: 0px !important; font-size: 15px; font-weight: 700; display: inline-block;
}
.btn_blog {
	top: 385px; margin-left: -120px;
}
.btn_blog button {
	background: url("../images/btn_blog.png") no-repeat 0px 0px; border: currentColor; border-image: none; width: 268px; height: 67px;
}
.btn_blog button:hover {
	background: url("../images/btn_blog_on.png") no-repeat 0px 0px;
}
.btn_video {
	top: 520px; margin-left: 45px;
}
.btn_video button {
	background: url("../images/btn_video_320.png") no-repeat 0px 0px / 100% auto; width: 69px; height: 70px; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
.btn_video button:hover {
	background: url("../images/btn_video_320_on.png") no-repeat 0px 0px / 100% auto; width: 69px; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto;
}
.v_iframe {
	left: 50%; top: 150px; margin-left: -115px;
}
.v_iframe iframe {
	width: 290px !important; height: 195px !important;
}
}
