.sevice01 {
	clear: both; margin-top: 20px; margin-bottom: 52px;
}
.sevice01 li {
	background: rgb(236, 236, 236); margin: 0px 0px 0px 52px; padding: 24px 18px 30px; border-radius: 10px; border: 1px solid rgb(197, 199, 195); border-image: none; width: 226px; height: 365px; text-align: center; float: left; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}
.sevice01 li:first-child {
	margin: 0px;
}
.sevice01 .s01 {
	text-align: center; color: rgb(34, 30, 31); padding-top: 170px; font-size: 20px; font-weight: 700; margin-bottom: 15px; background-image: url("../images/service01.png"); background-repeat: no-repeat;
}
.sevice01 .s02 {
	text-align: center; color: rgb(34, 30, 31); padding-top: 170px; font-size: 20px; font-weight: 700; margin-bottom: 15px; background-image: url("../images/service01.png"); background-repeat: no-repeat;
}
.sevice01 .s03 {
	text-align: center; color: rgb(34, 30, 31); padding-top: 170px; font-size: 20px; font-weight: 700; margin-bottom: 15px; background-image: url("../images/service01.png"); background-repeat: no-repeat;
}
.sevice01 .s01 {
	background-position: 50px 0px;
}
.sevice01 .s02 {
	background-position: 50px -254px;
}
.sevice01 .s03 {
	background-position: 50px -508px;
}
.sevice01 p {
	color: rgb(34, 30, 31); line-height: 22px; letter-spacing: -2px; padding-top: 5px; font-size: 15px; font-weight: 700;
}
.sevice01 p .a_left {
	padding-left: 45px;
}
.part_note {
	margin: 0px auto; width: 900px; color: rgb(153, 153, 153); padding-left: 10px; font-size: 16px; font-weight: 700;
}
.br {
	display: block;
}
.sub.visual {
	background: url("../images/visual01_sub.jpg") no-repeat 0px 0px; height: 450px; margin-bottom: 35px; position: relative;
}
.sub .player {
	left: 239px; top: 101px; width: 421px; height: 236px; position: absolute;
}
.request_img {
	background: url("../images/request_img01.jpg") no-repeat center 0px; margin: 35px 0px; height: 283px; text-align: center; text-indent: -5000px; overflow: hidden;
}
.form_req {
	margin: 0px auto; width: 764px;
}
.form_dl {
	margin: 0px 0px 5px 26px; vertical-align: middle;
}
.form_dl dt {
	padding-bottom: 3px; vertical-align: middle; float: left;
}
.form_dl dd {
	padding-bottom: 3px; vertical-align: middle; float: left;
}
.form_dl dt {
	width: 124px; font-size: 14px; font-weight: 700;
}
.form_dl dd {
	
}
.form_dl label {
	padding: 0px 10px 0px 2px;
}
.address {
	margin-left: 26px;
}
.address dl {
	margin: 0px 0px 5px; padding: 0px; vertical-align: middle;
}
.address dl:last-child {
	margin-top: -5px;
}
.address .form_dl dt {
	width: 124px; font-size: 14px; font-weight: 700;
}
.address .form_dl dt.marg01 {
	width: 120px; margin-left: 20px;
}
.address .form_dl dd {
	width: 230px;
}
.addr_tit {
	background: url("../images/line_dott.gif") repeat-x 0px bottom; padding-bottom: 10px; font-size: 14px; font-weight: 700;
}
.form_box {
	
}
.form_box h4 {
	background: url("../images/icon_tit.gif") no-repeat 0px 22px; margin: 30px 0px 20px; color: rgb(60, 60, 60); line-height: 23px; padding-left: 23px; font-size: 22px; font-weight: 700;
}
.icon_dt {
	background: url("../images/qna_text_icon01.png") no-repeat 0px 0px; width: 7px; height: 7px; margin-right: 5px; display: inline-block;
}
.icon_dt02 {
	background: url("../images/qna_text_icon02.png") no-repeat 0px 0px; width: 7px; height: 7px; margin-right: 5px; display: inline-block;
}
.marg01 {
	margin-left: 30px;
}
.req_chk {
	margin-top: 20px;
}
.page_btn {
	margin: 20px 0px 50px; text-align: center;
}
.text {
	padding: 3px 5px; border: 1px solid rgb(169, 169, 169); border-image: none; width: 205px;
}
.select {
	padding: 3px; border: 1px solid rgb(169, 169, 169); border-image: none; width: 225px;
}
.size01 {
	width: 167px !important;
}
.size02 {
	width: 581px !important;
}
.size03 {
	width: 178px !important;
}
button.button {
	background: rgb(169, 169, 169); margin: 0px; padding: 3px 8px 0px; border-radius: 2px; border: 1px solid rgba(0, 0, 0, 0.15); transition:0.3s ease-out; border-image: none; color: rgb(255, 255, 255); display: inline-block; box-shadow: inset 0px 1px 0px #e3e3e3, 0px 1px 1px #e3e3e3, 0px 0px 1px 1px #e3e3e3;
}
button.pagebtn {
	background: url("../images/request_btn.png") no-repeat 0px 0px; padding: 6px 0px 18px; border: currentColor; border-image: none; width: 207px; text-align: center; color: rgb(255, 255, 255); font-family: "¸¼Àº °íµñ", "Malgun Gothic", "³ª´®°íµñ", "Nanum Gothic", ng, "µ¸¿ò",Dotum,Helvetica,AppleGothic,Sans-serif; font-size: 23px; font-weight: 700;
}
button.pagebtn:hover {
	background: url("../images/request_btn_on.png") no-repeat 0px 0px;
}
button.pagebtn02 {
	background: url("../images/request_btn02.png") no-repeat 0px 0px; padding: 6px 0px 18px; border: currentColor; border-image: none; width: 127px; text-align: center; color: rgb(255, 255, 255); font-family: "¸¼Àº °íµñ", "Malgun Gothic", "³ª´®°íµñ", "Nanum Gothic", ng, "µ¸¿ò",Dotum,Helvetica,AppleGothic,Sans-serif; font-size: 23px; font-weight: 700;
}
button.pagebtn02:hover {
	background: url("../images/request_btn02_on.png") no-repeat 0px 0px;
}
button.pagebtn03 {
	background: url("../images/qna_btn.png") no-repeat 0px 0px; padding: 6px 0px 18px; border: currentColor; border-image: none; width: 207px; text-align: center; color: rgb(255, 255, 255); font-family: "¸¼Àº °íµñ", "Malgun Gothic", "³ª´®°íµñ", "Nanum Gothic", ng, "µ¸¿ò",Dotum,Helvetica,AppleGothic,Sans-serif; font-size: 23px; font-weight: 700;
}
button.pagebtn03:hover {
	background: url("../images/qna_btn_on.png") no-repeat 0px 0px;
}
button.pagebtn04 {
	background: url("../images/btn_request.png") no-repeat 0px 0px; padding: 12px 0px 20px; border: currentColor; border-image: none; width: 243px; text-align: center; color: rgb(255, 255, 255); font-family: "¸¼Àº °íµñ", "Malgun Gothic", "³ª´®°íµñ", "Nanum Gothic", ng, "µ¸¿ò",Dotum,Helvetica,AppleGothic,Sans-serif; font-size: 23px; font-weight: 700;
}
button.pagebtn04:hover {
	background: url("../images/btn_request_on.png") no-repeat 0px 0px;
}
.visual.map {
	background: none; height: auto !important; margin-top: 20px;
}
.map_bg {
	margin: 0px auto; width: 900px; position: relative;
}
.cs_wrap {
	right: 23px; bottom: 25px; position: absolute;
}
a.sfa_down span {
	display: block;
}
a.sfa_down span.on {
	display: none;
}
a.sfa_down:hover span {
	display: none;
}
a.sfa_down:hover span.on {
	display: block;
}
.form_dl .br {
	display: inline;
}
.map_img01 {
	display: block;
}
.map_img02 {
	display: none;
}
.map_img02 iframe {
	width: 100% !important;
}
table {
	text-align: center;
}

.tbl_gray .reply {
	padding: 20px 0px;
}
.tbl_gray .reply > * {
	background: rgb(255, 255, 255);
}
.tbl_gray .reply .con_tit {
	padding: 16px;
}
button.base {
	background: url("../images/qna-8.gif") repeat-x rgb(227, 227, 227); padding: 1px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; -webkit-border-radius: 4px;
}
.em1 {
	color: rgb(255, 0, 0);
}
.tbl_gray .reply .edit {
	text-align: right;
}
.tbl_gray .reply .edit > * {
	margin-right: 4px;
}
input[type='text'] {
	padding: 2px 4px; border: 1px solid rgb(170, 170, 170); border-image: none;
}
.c_write {
	padding: 2px 4px; border: 1px solid rgb(170, 170, 170); border-image: none;
}
.c_write50 {
	padding: 2px 4px; border: 1px solid rgb(170, 170, 170); border-image: none;
}
tr {
	padding: 2px 0px;
}
.form_a {
	margin: 20px 60px;
}
.page_btn {
	text-align: center;
}
.listHimg {
	width: 14px; height: auto;
}
.listAimg {
	
}
.L_content {
	padding: 7px 8px 8px; border: 1px dashed rgb(217, 217, 217); border-image: none; display: block; background-color: rgb(255, 255, 255);
}
#qnaList {
	background-position: 50% 10%; min-height: 0px; background-repeat: no-repeat;
}
#qnaAdd {
	min-height: 400px;
}
#qnaList li {
	overflow: hidden; position: relative;
}
.L_head {
	line-height: 100%; font-size: 1.5em; display: block; background-color: honeydew;
}
.L_headOpen {
	background-color: lightskyblue;
}
#inqQna {
	min-width: 90px; max-width: 130px;
}
.listHimg {
	width: 14px; height: auto;
}
.listAimg {
	
}
.headTable td {
	padding: 2px 3px; border-right-color: rgb(172, 172, 255); border-right-width: thick; border-right-style: double;
}
.contentTable {
	margin: 20px 0px; width: 100%;
}
.contentTable th {
	margin-left: 10px; border-right-color: rgb(172, 172, 255); border-right-width: thick; border-right-style: double;
}
.contentTableQtr th {
	border-bottom-color: rgb(255, 102, 0); border-bottom-width: 1px; border-bottom-style: solid;
}
.contentTableQtr td {
	border-bottom-color: rgb(255, 102, 0); border-bottom-width: 1px; border-bottom-style: solid;
}
.delDiv {
	width: 100%; text-align: right; display: inline-block;
}
.delDivInner {
	width: 100%; margin-top: 10px; float: left; display: none;
}
.form_a tr {
	margin-left: 10px; float: left; display: inline-block;
}
.form_a th.w_sub {
	margin: 20px; width: 1%; text-align: left; min-width: 90px; max-width: 150px;
}
.form_a td.w_subTd {
	
}
.form_a tr.trTitle {
	width: 98%;
}
.spanTitle {
	margin: 20px; padding: 3px; border-radius: 8px; border: 1px solid rgb(238, 238, 238); border-image: none; width: 150px; font-size: 1.5em; display: block; background-color: lightskyblue; -moz-border-radius: 8px; -webkit-border-radius: 8px;
}
.form_a .w_mainTd {
	width: 90%;
}
.smallspan {
	color: red; font-size: 11px; display: block;
}
.form_a .w_subTd {
	width: 20%; min-width: 160px; max-width: 200px;
}
.c_write {
	width: 96%; display: block; min-width: 150px; max-width: 220px;
}
.c_write100 {
	width: 80%; display: block; min-width: 150px;
}
.c_write50 {
	width: 30%; min-width: 120px;
}
.info {
	margin: 20px 30px 0px;
}
.video {
	width: 80%; margin-top: 20px; margin-right: auto; margin-left: auto;
}
.sub-navTable {
	margin: 20px auto 30px; width: 50%; text-algin: center;
}
#sub-nav {
	position: relative;
}
#snd1 img {
	width: 15px; height: 15px; text-align: center;
}
#snd7 img {
	width: 15px; height: 15px; text-align: center;
}
#snd2 {
	text-align: center;
}
#snd3 {
	text-align: center;
}
#snd4 {
	text-align: center;
}
#snd5 {
	text-align: center;
}
#snd6 {
	text-align: center;
}
.td1 {
	
}
.td2 {
	width: 50px;
}
.td3 {
	width: 90px;
}

#bf{
	padding-top:40px;
	height: 500px;
	margin: 0 auto;
}
