

/*헤더 메뉴입니다*/
#logoimg{
	padding-top : 20px;
	padding-bottom : 20px;
	width:200px;
	height: auto;
	
}

#header_top_contact{
	margin-top: -14px;
	position:absolute;
}

#hiuser{
	text-align: left;
}


/* 블로그메뉴 */


#blogMenu {
	float:center;
	margin:0px 3px 3px 5px;
	padding:0 0 3px 0;	
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,.3);
	-o-box-shadow: 0px 0px 15px rgba(0,0,0,.3);
	border-radius: 3px;
	background-color:#5c5c5c;
}

#blogMenu ul li {
	float:center;
	list-style-type:none;
	
	padding-bottom: 12px;
}

#blogMenu a {
	height:30px;	
	color:#f1f1f1;
	font-family:arial;
	font-size:12px;
	padding-left:10px;
	text-decoration:none;
}

#blogMenu a:hover {
	
}

#blogMenu ul ul {
	display:none;
	position:absolute;
	width:159px;
	background-color:#5c5c5c;
	margin-top: 10px;
	text-decoration:none;
	
}

#blogMenu ul li:hover ul {
	display: block;
	right: 14%;
	text-decoration:none;
}

#blogMenu ul ul li {
	float:left;
}


.menu{
	float: left;
	margin: 60px 0 30px 60px;;
	
}
