<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="genUser">
	
	<select id="addBisUser" parameterType="int" resultType="EmpDTO">
		select
		empno,
		ename, job, mgr, to_char(hiredate,'yyyy/mm/dd') hiredate, sal
		from emp
		where empno = #{empno}
		order by empno
	</select>
</mapper>













