<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="genUser">
	
	 <select id="idCheck" parameterType="string"
    resultType="string">
      select bisid
      from genUser
      where bisid = #{userid}
    </select>
    <insert id="addbisUser" parameterType="bisUserDTO">
		insert into genUser( bisid, passwd,
		bisname, post1, post2, addr1, addr2, phone1, phone2, phone3)
		values(#{bisid},#{passwd},#{bisname},#{post1},#{post2},#{addr1},#{addr2},#{phone1},#{phone2},#{phone3});
	</insert>
	
</mapper>













