<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="genUser">
	<insert id="addGenUser" parameterType="genUserDTO">
		insert into genUser(
		userid, passwd,
		nickname, phone)
		values(#{userid},#{passwd},#{nickname},#{phone})
	</insert>
	<select id="login" parameterType="hashmap" resultType="genUserDTO">
		select
		userid, passwd,
		nickname, phone
		from genUser
		where userid = #{userid} and passwd=#{passwd}
	</select>
	<select id="mypage" parameterType="String" resultType="genUserDTO">
		select
		userid, passwd,
		nickname, phone
		from genUser
		where userid = #{userid}
	</select>
	<update id="updateGenUser" parameterType="genUserDTO">
		update genUser
		set passwd = #{passwd},
		nickname = #{nickname},
		phone = #{phone}
	   where userid = #{userid}	
	</update>
	<delete id="deleteGenUser" parameterType="String">
	delete from genUser where userid = #{userid}	
	</delete>
</mapper>













