<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mycoupon">

	<select id="myCoupon" parameterType="string" resultType="MycouponDTO">
		select
		DOWNCOUPON.dcouid, to_char(COUPON.period_f,'YYYY/MM/dd') period_f,
		to_char(COUPON.period_t,'YYYY/MM/dd') period_t, BISUSER.BISNAME,
		DOWNCOUPON.use_yn, DOWNCOUPON.userid, COUPON.content
		from DOWNCOUPON ,
		COUPON , BISUSER
		where DOWNCOUPON.COUID = COUPON.COUID
		and COUPON.BISID
		= BISUSER.BISID and userid = #{userid}
	</select>
	<select id="BisCoupon" parameterType="string" resultType="CouponDTO">
	select couid, amount, period_f, period_t, show_yn, clickcount
    from coupon
    where bisid = #{bisid}
	</select>
	<select id="first10" resultType="Top10DTO">
		select rownum as ranking,
		CLICKCOUNT, BISNAME, CONTENT,
		PERIOD_F, PERIOD_T, COUID
		from ( select COUPON.CLICKCOUNT
		CLICKCOUNT,
		BISUSER.BISNAME BISNAME, COUPON.CONTENT CONTENT,
		COUPON.PERIOD_F
		PERIOD_F, COUPON.PERIOD_T PERIOD_T, COUPON.COUID COUID
		from COUPON, BISUSER
		WHERE COUPON.BISID = BISUSER.BISID
		order by COUPON.CLICKCOUNT desc)
		WHERE <![CDATA[rownum <= 10]]>
	</select>
	<select id="serch10" resultType="Top10DTO" parameterType="String">
		select
		rownum as ranking,
		CLICKCOUNT, BISNAME, CONTENT,
		PERIOD_F, PERIOD_T, COUID
		from ( select COUPON.CLICKCOUNT
		CLICKCOUNT,
		BISUSER.BISNAME BISNAME, COUPON.CONTENT CONTENT,
		COUPON.PERIOD_F
		PERIOD_F, COUPON.PERIOD_T PERIOD_T, COUPON.COUID COUID
		from COUPON, BISUSER
		WHERE COUPON.BISID = BISUSER.BISID
		and COUPON.BISID = (select BISUSER.BISID from BISUSER where BISUSER.ADDR1
		like #{searchName}||'%')
		order by COUPON.CLICKCOUNT desc)
		WHERE <![CDATA[rownum <= 10]]>
	</select>
</mapper>













