<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mycoupon">

	<select id="myCoupon" parameterType="string" resultType="MycouponDTO">
		select DOWNCOUPON.dcouid,  to_char(COUPON.period_f,'YYYY/MM/dd') period_f, to_char(COUPON.period_t,'YYYY/MM/dd') period_t, BISUSER.BISNAME,  DOWNCOUPON.use_yn, DOWNCOUPON.userid, COUPON.content
		from DOWNCOUPON , COUPON , BISUSER
		where DOWNCOUPON.COUID = COUPON.COUID 
    and COUPON.BISID = BISUSER.BISID and userid =  #{userid}
	</select>


</mapper>













